@font-face {
  font-family: 'NestleText';
  src: url('../../fonts/NestleText-Light.otf') format('truetype');
}

@font-face {
  font-family: 'NestleScript-Regular';
  src: url('../../fonts/NestleScript-Regular.otf') format('truetype'),
       url('../../fonts/NestleScriptAR-Regular.otf') format('truetype');
}
.NestleScript {
	 font-family: 'NestleScript-Regular'
}
html, body, * {
  color: #000000;
  overflow-x: hidden;
  font-family: 'NestleText';
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

header {
  height: 70px;
  position: relative;
  z-index: 1;
}

/*header nav .navbar-brand {
  margin-left: 6vw;
}*/

header nav .navbar-brand figure {
  margin: 0;
}

/*header nav .navbar-toggler {
  margin-right: 6vw;
  border: none;
}*/

header nav .navbar-toggler:focus {
  border: none;
  color: #ffffff;
}

header nav .navbar-collapse {
  background: url("/assets/img/menu-bg-mobile.jpg");
  height: 90vh;
}

header nav li {
  font-size: 2em;
}

header nav li.active a {
  color: #037EC0;
}

header nav li .nav-link {
  color: #000000;
  margin: 0 1.5rem;
}

@media screen and (min-width: 992px) {
  header {
    max-height: 78px;
  }
  header nav .navbar-collapse {
    background: initial;
    height: inherit;
  }
  /*header nav .navbar-nav {
    margin-right: 6vw;
  }*/
  header nav li {
    font-size: 1em;
  }
  /*header nav li .nav-link {
    margin: 0 1vw;
  }*/
}

footer {
  background: #A82043;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 91px;
  border-top-right-radius: 91px;
}

footer .footer-content {
  display: flex;
  flex-direction: column-reverse;
}

footer ul {
  list-style: none;
  display: flex;
}

/* custom css */
.container-fluid {max-width:1920px;}
.page-description { color: #774212; }
.banner-text { max-width:320px; }

/* promotion page */

.banner {
	background: url("../../img/hero-promos.png") center top;
    height: 90vh;
	background-repeat:no-repeat;
	background-size:contain;
}

.banner-inner { position:relative; }
.banner-content { margin-top:10rem; }

/* experimenta */

.experimenta {
	background: url("../../img/mundo-nestle.png") center top;
	height: 90vh;
	background-repeat:no-repeat;
	background-size:contain;
}

.home_level_1 {
	background: url("../../img/bannerHomepage.png");
	height: 90vh;
	background-repeat:no-repeat;
	background-size:100%;
}
.home_level_2 {
	background: url("../../img/banner-blue.png");
	background-repeat:no-repeat;
	margin-top:-35vh;
	background-size:100% 100%;
	padding-bottom: 35vh;
    padding-top: 55vh;
}
.experimenta-inner-content {
	border-radius:10px;
}

.h1, h1, .h2, h2 {
	overflow:hidden;
}

button.btn.btn-primary.btn-lg.btn-transparent {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    min-width: 180px;
    font-size: initial;
}

button.btn.btn-primary.btn-lg.btn-transparent:hover {
    text-decoration: underline;
}

button.btn.btn-primary.btn-lg.btn-orange {
    background: #FB6035;
    border-radius: 50px;
    min-width: 180px;
    font-size: initial;
}
button.btn.btn-primary.btn-lg.btn-orange:hover {
    text-decoration: underline;
}

button.btn.btn-primary.btn-lg.btn-solid-line {
	background: transparent;
    border: 1px solid #663509;
    border-radius: 50px;
    min-width: 180px;
    font-size: initial;
	color: #663509;
}
button.btn.btn-primary.btn-lg.btn-solid-line:hover {
    text-decoration: underline;
}


button.btn.btn-primary.btn-lg.btn-solid-line-white {
	background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    min-width: 180px;
    font-size: initial;
	color: #fff;
}
button.btn.btn-primary.btn-lg.btn-solid-line-white:hover {
    text-decoration: underline;
}

.lines {
    font-size: 1.8rem;
}
.lines span b { color:#fff; }
.line2 {
    font-size: 2.5rem;
    line-height: 2rem;
    overflow: hidden;
}

.home_level_1_text p{
    font-size: 0.8rem;
}
.home_level_1 .NestleScript , .home_level_2 .NestleScript , .home_level_3 .NestleScript  {
	font-size:2.5rem;
	line-height:2rem;
}
.home_level_3 {
    padding-top: 10vh;
}
.home_level_3_icons {
    padding-top: 10vh;
}
.home_level_3_image {
	background: url("../../img/brands-girl.png");
	height: 90vh;
	background-repeat:no-repeat;
	background-size:100%;
	padding-top: 10vh;
    padding-left: 10vh;
}
.home_level_3_image .lines{
	color: #663509;
}
.text-brown{
	color: #663509;
}
.home_level_4 {
	background: url("../../img/banner-green.png");
	height: 140vh;
	background-repeat:no-repeat;
	background-size:100%;
	margin-top:-40vh;
	padding-bottom: 0vh;
	padding-top: 39vh;
}

.home_level_4 .heading {
	font-size:1.8rem;
}
.home_level_4 .heading span{
	font-size:3rem;
	color:#fff;
	margin-left: 2rem;
}

.home_level_4_text , .s_article_right{
	margin-top:10vh;
    background: #fff;
    padding: 2vh;
    border-radius: 10px;
}
.home_level_4_buttons {
	margin-top:10vh;
}
@media screen and (min-width: 1600px) { 
	.banner {
		height: 60vh;
		background-size:100% 100%;
	}
}

@media screen and (max-width: 1280px) {
	.banner {
		height: auto;
		background-size:cover;
		height: 80vh;
	}
}
@media screen and (max-width: 767px) {
	.banner-content {
		margin-top: 5rem;
		text-align: center;
	}
	.banner-text { margin:auto; }
	.experimenta {
		background-position-x:70%;
	}
	.ex_left_logo {
		margin-top: 1.5rem;
	}
}


/* promotion end */

@media screen and (min-width: 992px) {
  footer .footer-content {
    margin-top: -85px;
    font-size: 1.125em;
    margin-bottom: 85px;
  }
  footer .footer-content .navbar-nav * {
    padding: 0 0.2rem;
    color: #ffffff;
  }
  footer .footer-content .footer-notes {
    position: absolute;
    margin-bottom: -10px !important;
  }
  footer .navbar-brand {
    border-bottom: 1px solid #ffffff;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  footer .footer-content {
    margin-top: -85px;
    font-size: 1.125em;
    margin-bottom: 85px;
  }
  footer .footer-content .navbar-nav * {
    padding: 0 0.75rem;
    color: #ffffff;
  }
}
